



/* Patrones Globales del CSS */

/* Tipografía Principal */
h1, h2, h3, h6, a, button { font-family: 'Big Shoulders Display', cursive; }

/* Tipografía Secundaria */
h4, h5, p, div, form, input, select, option, textarea, span, em, strong { font-family: 'Roboto Condensed', sans-serif; }

/* Quitar el Margen por defecto que trae Body */
body { margin: 0 !important; }

/* Cargar el display: block; a todos los tags de estructura */
header, main, section, footer, aside, article, nav, figure, figcaption, div { display: block; }

/* Quitar margen por defecto a todas las tags de texto */
h1, h2, h3, h4, h5, h6, p { margin: 0; }

/* Quitar scroll horizontal del Body */
body { overflow-x: hidden; background: #000;}




/* CSS propio */

/* Componente Precarga Barra */



/* aside#precarga-barra { width: 100%; height: 100%; display: block; margin: 0; float: none; position: fixed; top: 0; left: 0; z-index: 99999; background: rgb(202, 2, 2); }
aside#precarga-barra article { width: 80%; height: 100%; display: block; margin: 0 auto; float: none; position: relative; }
aside#precarga-barra article figure { width: 50%; height: 10px; display: block; margin: 49vh auto; float: none; position: relative; border-radius: 5px; overflow: hidden; }
aside#precarga-barra article figure div#barra-carga { width: 0.1%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 10; background: #fff; border-radius: 0 5px 5px 0; }
aside#precarga-barra article figure div#barra-base { width: 100%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 9; background: rgb(92, 1, 1); } */


/* Componente: Menu Movil */

aside#menu-movil { width: 290px;  display: block; height: 100%; margin: 0; float: none; position: fixed; top: 0; left: -290px; z-index: 99999; background:  rgba(37, 116, 1, 0.781);}
aside#menu-movil a#abrir { width: 40px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 30px; right: -60px; z-index: 99996; text-align: center; font-size: 1.3em; padding: 8px 0; transition: all 0.3s ease-in; color: #fff; }
aside#menu-movil a#abrir:hover { color:rgb(37, 116, 1); transition: all 0.3s ease-in;}
aside#menu-movil a#cerrar { width: 40px; height: auto; display: none; margin: 0; float: none; position: absolute; top: 30px; right: -60px; z-index: 99996; color: #fff; text-align: center; font-size: 1.3em; padding: 8px 0; transition: all 0.3s ease-in;}
aside#menu-movil a#cerrar:hover { color:rgb(37, 116, 1); transition: all 0.3s ease-in;}
aside#menu-movil nav { width: 80%; height: auto; display: block; margin: 40px auto 0 auto; float: none; position: relative; }
aside#menu-movil nav a { width: 100%; height: auto; display: block; margin: 0 auto 20px; float: none; position: relative; color: #fff ;text-decoration: none; transition: all 0.3s ease-in; text-align: center; font-family: 'Montserrat', sans-serif  }
aside#menu-movil nav a:hover { color: #000; transition: all 0.3s ease-in;}


/* Componente Precarga BPuntos */
aside#precarga-puntos { width: 100%; height: 100%; display: block; margin: 0; float: none; position: fixed; top: 0; left: 0; z-index: 99999; background: rgb(37, 116, 1); }
aside#precarga-puntos article { width: 80%; height: 100%; display: block; margin: 0 auto; float: none; position: relative; }
aside#precarga-puntos article figure { width: 200px; height: 10px; display: block; margin: 49vh auto; float: none; position: relative; }
aside#precarga-puntos article figure div#carga { width: 100%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 10; }
aside#precarga-puntos article figure div#carga div.puntos-carga { width: 10px; height: 10px; display: block; margin: 0 5px; float: left; position: relative; background: #fff; border-radius: 50%; opacity: 0; }
aside#precarga-puntos article figure div#base { width: 100%; height: 10px; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 9; }
aside#precarga-puntos article figure div#base div.puntos-base { width: 10px; height: 10px; display: block; margin: 0 5px; float: left; position: relative; background: rgb(37, 116, 1);; border-radius: 50%; }



/* HEADER */
header { width: 100%; height: 80px; position: fixed; top: 0; left: 0; z-index: 9998; margin: 0; float: none; }

.transparente { background: rgb(196 196 196 / 0%);}
.gris { background: #000;}

/* MAIN */
main { width: 100%; height: auto; position: relative; margin: 80px auto 0 auto; float: none; top: -100px;}

/*Section: Slider Home*/

main section#slider-home { width: 100%; height: auto; position: relative; margin: auto 0; float: none;  }
main section#slider-home article { width: 100%; height: 100vh; position: relative; margin: auto 0; float: none;}
main section#slider-home article figure { width: 100%; height: 100vh; position: relative; margin: 0; float: left;}
main section#slider-home article figure.slider-01 { background: url(../img/slider-01.jpg) no-repeat bottom center; background-size: cover;}
main section#slider-home article figure.slider-02 { background: url(../img/slider-02.jpg) no-repeat top center; background-size: cover;}
main section#slider-home article figure.slider-03 { background: url(../img/slider-03.jpg) no-repeat top center; background-size: cover;}
.slick-next { right: 30px !important; z-index: 999; }
.slick-prev { left: 30px !important; z-index: 999;}
.slick-dots { bottom: 30px !important; }
.slick-dots li button { width: 10px !important; height: 10px !important; }
.slick-dots li button::before { width: 10px !important; height: 10px !important; font-size: 1em !important; color: transparent !important; border-radius: 50% !important; background: rgb(37, 116, 1) !important; opacity: 1 !important; }
.slick-dots li.slick-active button::before { color: transparent !important; background: #fff !important; opacity: 1 !important; }



/* Componente Acordeón */
main section#acordeon { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; background: #fff; padding: 75px 0; }
main section#acordeon article { width: 80%; height: auto; position: relative; margin: 0 auto; float: none; }
main section#acordeon article div#caja-acordeon { width: 100%; height: auto; position: relative; margin: 0 auto; float: none; }
main section#acordeon article div#caja-acordeon div.fila-acordeon { width: 100%; height: auto; position: relative; margin: 0 auto 5px; float: none; }
main section#acordeon article div#caja-acordeon div.fila-acordeon a { width: 100%; height: 35px; position: relative; margin: 0 auto; float: none; display: block; color: #fff; transition: all 0.3s ease-in; }
.acord-cerrado {background: rgb(37, 116, 1); border: solid 1px rgb(37, 116, 1); border-radius: 5px; }
.acord-abierto { background: #000; border: solid 1px #000; border-radius: 5px 5px 0 0; }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.caja-iconos { width: 35px; height: 35px; display: block; margin: 0 10px 0 15px; float: left; }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.caja-iconos span.abierto { width: 35px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 2; padding: 8px 0; text-align: center; font-size: 1.05em; font-weight: 900; letter-spacing: 0.035em; }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.caja-iconos span.cerrado { width: 35px; height: auto; display: block; margin: 0; float: none; position: absolute; top: 0; left: 0; z-index: 1; padding: 8px 0; text-align: center; font-size: 1.05em; font-weight: 900; letter-spacing: 0.035em; }
main section#acordeon article div#caja-acordeon div.fila-acordeon a span.nombre-pregunta { width: auto; height: auto; display: block; float: left; text-decoration: none; padding: 7px 0; font-size: 1.05em; font-weight: 300; letter-spacing: 0.035em; }
main section#acordeon article div#caja-acordeon div.fila-acordeon a:hover { background: #000; border: solid 1px #000; transition: all 0.3s ease-in; }
main section#acordeon article div#caja-acordeon div.fila-acordeon figure { width: 94%; height: auto; position: relative; margin: 0 auto; float: none; display: none; background: #fff; border: solid 1px #9999; padding: 30px 3%; border-radius: 0 0 5px 5px; }
main section#acordeon article div#caja-acordeon div.fila-acordeon figure p { padding: 0 0 15px 0; font-size: 1em; line-height: 1.35em; text-align: justify; column-count: 2; column-gap: 30px; }
main section#acordeon article div#caja-acordeon div.fila-acordeon figure p:last-child { padding: 0; }
main section#acordeon article div#caja-acordeon div.fila-acordeon figure p img { width: auto; height: 135px; display: block; margin: 0 25px 7px 0; float: left; position: relative; border-radius: 5px; }



/* FOOTER */
footer { width: 100%; height: 300px; position: relative; margin: 0 auto; float: none; background: #000; top: -100px; }


/* Zona de Media Queries */

/* MQ para Tablets = Breakpoint 1199px */
@media only screen and (max-width: 1199px){
    aside#menu-movil a#abrir,
    aside#menu-movil a#cerrar { top: 22px; }
    header { height: 80px; }
    header article { width: 90%; height: 80px; }
    header article a { width: 118px; height: 50px; margin: 0; float: right; top: 15px; }
    header article a img { width: 100%; height: auto; }
    main { margin: 80px auto 0 auto; }
    main section#slider-home article { height: 75vh; }
    
   
}

/* Breakpoint 1099px */
@media only screen and (max-width: 1099px){
    main section#acordeon article div#caja-acordeon div.fila-acordeon figure p { column-count: 1; column-gap: 0; }
    main section#acordeon article div#caja-acordeon div.fila-acordeon figure p img { width: 100%; height: auto; margin: 0 auto 25px; float: none; }
    main section#tab-system article figure { height: 270px; }
    main section#tab-system article figure div#contenedor-tabs { height: 270px; }
    main section#tab-system article figure div#contenedor-tabs div#conte-tab-01,
    main section#tab-system article figure div#contenedor-tabs div#conte-tab-02,
    main section#tab-system article figure div#contenedor-tabs div#conte-tab-03 { height: 270px; }
}

/* Breakpoint 699px */
@media only screen and (max-width: 699px){
    aside#pop-up figure { width: 80%; height: 80%; }
}

/* MQ para Móviles Grandes = Breakpoint 499px */
@media only screen and (max-width: 499px){
    main section#tab-system article nav { width: 290px; }
    main section#tab-system article nav a { padding: 7px 16px; }
}

/* MQ para Móviles Pequeños = Breakpoint 399px */
@media only screen and (max-width: 399px){
    main section#grid-instagram article a { width: 100%; height: auto; }
}